/*--- стили кнопок ---*/
.reset-btn {
	background-color: transparent;
	padding: 0;
	border: 0;
	border-radius: 0;
}

.btn {
	width: 100%;
	padding: 0 7px;
	border-radius: 7px;
	border: none;
	@include use-font($I-r, 400);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:disabled {
		cursor: auto;
	}
	&.m {
		height: 37px;
	}
	&.l {
		height: 32px;
	}
	&.red {
		height: 47px;
		background-color: $red;
		color: $white;
		@include use-size(16px, 19px);

		&:hover {
			background-color: $burgundy;
		}

	}
	&.white {
		background-color: transparent;
		color: $white3;
		@include use-size(16px, 19px);
		border: 1px solid $white3;
	}
}