$red: #BF1616;

$burgundy: #7D0606;

$brown: #521422;

$light_blue: #ECF2F5;

$blue: #00AFE9;

$blue2: #00A4DA;

$heavy_blue: #015B90;

$dark_blue: #132F56;

$dark_blue2: #01264E;

$light_green: #87C042;

$yellow: #FFCF00;

$white: #FFFFFF;

$white2: #FAFAFA;

$white3: #FEFEFE;

$lite_grey: #F0F0F0;

$grey: #C1C4CD;

$dark_grey: #878787;
$dark_grey-25: rgba(240, 240, 240, 0.25);

$dark_grey2: #646464;

$black: #191B1F;
$black_new: #141414;
$heavy_black: #000;
$heavy_black-50: rgba(0, 0, 0, 0.5);
$heavy_black-45: rgba(0, 0, 0, 0.45);