//.textarea {
//	background-color: #FEFFFC;
//	border: 1px solid $black-40;
//	border-radius: 3px;
//	width: 100%;
//	height: 140px;
//	padding: 15px 20px ;
//	@include use-font($I-m, 500);
//	@include use-size(18px, 22px);
//	color: rgba(19, 21, 17, 0.8);
//	&:hover {
//		border-color: $green-5-80;
//	}
//	&::-webkit-scrollbar {
//		background: $green-3-40;
//		border-radius: 2px;
//		width: 4px;
//		height: 4px;
//	}
//	&::-webkit-scrollbar-thumb {
//		background: $green-3-80;
//		border-radius: 2px;
//		height: 4px;
//	}
//}
.inp {
	width: 100%;
	& input {
		height: 47px;
		padding: 14px 17px;
		background: #FFFFFF;
		border: none;
		border-bottom: 1px solid #BF1616;
		border-radius: 7px;
		@include use-font($I-r, 400);
		@include use-size(16px, 19px);
		color: #191B1F;
		width: 100%;
		&::placeholder {
			@include use-font($I-r, 400);
			@include use-size(16px, 19px);
			color: #878787;
		}
		&:focus {
			box-shadow: 0 1px 0 #BF1616;
		}
	}
	& .error {
		@include use-font($I-r, 400);
		@include use-size(12px, 15px);
		color: #BF1616;
		padding-left: 16px;
		margin-top: 8px;
		display: none;
	}
	&.active .error{
		display: block;
	}
}