@import "../default/_my__color";
@import "../default/_my__font";

.pagination {
	margin: 50px 0 60px;

	&-list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-item {
		margin-right: 4px;

		&:last-child {
			margin-right: 0;
		}
		&.disable {
			& .arrow-p:before {
				border-color: $blue;
			}

			& .pagination-link {
				&:hover {
					background: $white;
					color: $blue;
					cursor: auto;

					& .arrow-p:before {
						border-color: $blue;
					}
				}
			}
		}

		&.active {
			& .pagination-link {
				background: $white;
				color: $blue;

				& .arrow-p:before {
					border-color: $blue;
				}
			}
		}
		&.itd {
			& .pagination-link {
				&:hover {
					background: $white;
					color: $blue;
					cursor: auto;

					& .arrow-p:before {
						border-color: $blue;
					}
				}
			}
		}
	}



	&-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		background: $white;
		border-radius: 3px;
		font-family: $I-m;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: $blue;
		cursor: pointer;

		&:hover {
			color: $heavy_blue;

			& .arrow-p:before {
				border-color: $heavy_blue;
			}
		}
	}
}

.arrow-p:before {
	content: '';
	width: 9px;
	height: 9px;
	display: block;
	border-bottom: 2px solid $blue;
	border-left: 2px solid $blue;
}

.next:before {
	transform: rotate(225deg) translate(2px, -2px);
}

.prev:before {
	transform: rotate(45deg) translate(2px, -2px);
}