$M-b-i: "Montserrat-Bold-Italic", sans-serif;
$M-bl: "Montserrat-Black", sans-serif;
$M-bl-i: "Montserrat-Black-Italic", sans-serif;
$I-l: "Inter-Light", sans-serif;
$I-r: "Inter-Regular", sans-serif;
$I-m: "Inter-Medium", sans-serif;
$I-sb: "Inter-SemiBold", sans-serif;
$I-b: "Inter-Bold", sans-serif;
