// /*--- стрелочки вернего слайдера ---*/
.nextArrow,
.prevArrow {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s linear;
}
.nextArrow {
	position: absolute;
	top: -32px;
	left: calc(50% - 12px);
}
.prevArrow {
	position: absolute;
	bottom: -8px;
	left: calc(50% - 12px);
}
.nextArrow:before {
	content: "";
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.22596 7.20979C2.29741 7.14329 2.38229 7.09053 2.47573 7.05453C2.56917 7.01853 2.66935 7 2.77052 7C2.87168 7 2.97186 7.01853 3.0653 7.05453C3.15875 7.09053 3.24362 7.14329 3.31507 7.20979L12.0002 15.2749L20.6853 7.20979C20.7568 7.1434 20.8417 7.09073 20.9352 7.0548C21.0286 7.01887 21.1288 7.00037 21.2299 7.00037C21.331 7.00037 21.4312 7.01887 21.5246 7.0548C21.618 7.09073 21.7029 7.1434 21.7744 7.20979C21.846 7.27619 21.9027 7.35501 21.9414 7.44176C21.9801 7.52851 22 7.62148 22 7.71538C22 7.80928 21.9801 7.90225 21.9414 7.989C21.9027 8.07575 21.846 8.15457 21.7744 8.22097L12.5448 16.7902C12.4733 16.8567 12.3884 16.9095 12.295 16.9455C12.2015 16.9815 12.1014 17 12.0002 17C11.899 17 11.7989 16.9815 11.7054 16.9455C11.612 16.9095 11.5271 16.8567 11.4557 16.7902L2.22596 8.22097C2.15434 8.15463 2.09751 8.07583 2.05873 7.98907C2.01996 7.90232 2 7.80931 2 7.71538C2 7.62145 2.01996 7.52844 2.05873 7.44169C2.09751 7.35493 2.15434 7.27613 2.22596 7.20979Z' fill='%231D350A'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	transform: rotateX(180deg);
}
.prevArrow:before {
	content: "";
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.22596 16.7902C2.29741 16.8567 2.38229 16.9095 2.47573 16.9455C2.56917 16.9815 2.66935 17 2.77052 17C2.87168 17 2.97186 16.9815 3.0653 16.9455C3.15875 16.9095 3.24362 16.8567 3.31507 16.7902L12.0002 8.72512L20.6853 16.7902C20.7568 16.8566 20.8417 16.9093 20.9352 16.9452C21.0286 16.9811 21.1288 16.9996 21.2299 16.9996C21.331 16.9996 21.4312 16.9811 21.5246 16.9452C21.618 16.9093 21.7029 16.8566 21.7744 16.7902C21.846 16.7238 21.9027 16.645 21.9414 16.5582C21.9801 16.4715 22 16.3785 22 16.2846C22 16.1907 21.9801 16.0977 21.9414 16.011C21.9027 15.9243 21.846 15.8454 21.7744 15.779L12.5448 7.20979C12.4733 7.14329 12.3884 7.09053 12.295 7.05453C12.2015 7.01853 12.1014 7 12.0002 7C11.899 7 11.7989 7.01853 11.7054 7.05453C11.612 7.09053 11.5271 7.14329 11.4557 7.20979L2.22596 15.779C2.15434 15.8454 2.09751 15.9242 2.05873 16.0109C2.01996 16.0977 2 16.1907 2 16.2846C2 16.3785 2.01996 16.4716 2.05873 16.5583C2.09751 16.6451 2.15434 16.7239 2.22596 16.7902Z' fill='%231D350A'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	transform: rotateX(180deg);
}
.my-dots-bot {
	display: flex;
	align-items: center;
	grid-gap: 8px;
	justify-content: center;
	& .slick-active button {
		background: $green-2-100;
	}
	& button {
		font-size: 0;
		width: 12px;
		height: 12px;
		padding: 0;
		border: 0;
		background: $black-20;
		border-radius: 3px;
	}
}
// /*--- стрелочки вернего слайдера ---*/
