@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";

.block-form {
	& form {

	}

	& .block.category {
		margin-top: 20px;
		margin-bottom: 20px;
		& .block-cart {
			justify-content: center;
			& .block-item a span:last-of-type{
				max-width: 125px;
			}
		}
	}
	&-city {
		display: flex;
		align-items: center;
		grid-gap: 15px;
		padding-left: 23px;
		margin-top: 12px;
		margin-bottom: 30px;
		@media screen and (max-width: 580px) {
			flex-wrap: wrap;
		}
		& .radio-group {
			& input {
				display: none;
				&:checked + label {
					color: $black_new;
				}
			}
			& label {
				color: $heavy_blue;
				cursor: pointer;
			}
		}
		& .all-city {
			&-btn {
				color: $heavy_blue;
				cursor: pointer;
			}
		}
	}

	&-cars {
		display: flex;
		align-items: center;
		grid-gap: 22px;
		padding-left: 23px;
		& .radio-group {
			& input {
				display: none;

				&:checked + label {
					border-color: $black_new;
				}
			}

			& label {
				color: $black_new;
				padding-bottom: 6px;
				border-bottom: 2px solid transparent;
				cursor: pointer;
				display: inline-block;
			}
		}
	}

	&-main {
		background: $lite_grey;
		box-shadow: 0 4px 4px $grey;
		border-radius: 21px;
		padding: 32px 26px;
		@media screen and (max-width: 768px) {
			border-radius: 7px;
			padding: 15px 10px;
		}
		& .main-inputs {
			display: none;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				display: block;
			}
			&.active {
				display: block;
			}
			& .wrapper-input {
				display: flex;
				align-items: center;
				justify-content: space-between;

				& .radio {
					display: flex;
					align-items: center;
					width: 100%;
					padding: 2px;
					background: #D9D9D9;
					border-radius: 7px;
					@media screen and (max-width: 425px) {
						overflow-y: hidden;
						overflow-x: auto;
						&::-webkit-scrollbar {
							width: 4px;
							height: 8px;
							border-radius: 4px;
						}
						&::-webkit-scrollbar-thumb {
							border-radius: 4px;
							background: $dark_grey2;
							height: 8px;
						}
					}
					&-group {
						width: 100%;
						& input {
							display: none;
							&:checked + span {
								background: #FFFFFF;
								&:hover {
									background: #FFFFFF;
								}
							}
						}
						& label {
							cursor: pointer;
							width: 100%;

							& span {
								width: 100%;
								padding: 9px 10px 8px;
								border-radius: 7px;
								display: inline-block;
								text-align: center;
								@media screen and (max-width: 425px) {
									font-size: 14px;
									line-height: 17px;
								}
								&:hover {
									background: #C6C6C6;
								}
							}
						}
					}
				}

				& label {
					width: 100%;
					display: flex;
					align-items: center;
				}

				& input {
					padding: 10px 11px 10px 11px;
					width: 100%;
					border: none;

					&::placeholder {
						@include use-font($I-r, 400);
						@include use-size(16px, 19px);
						color: #646464;
					}
				}

				&-left {
					background: #FFFFFF;
					max-width: 50%;
					border-radius: 7px 0 0 7px;

					& input {
						border-radius: 7px 0 0 7px;
						border: none;
						border-bottom: 1px solid transparent;

						&:focus {
							border-radius: 7px 0 7px 7px;
							border-color: $red;
						}
					}
				}

				&-right {
					background: #FFFFFF;
					max-width: 50%;
					position: relative;
					padding-left: 1px;
					border-radius: 0 7px 7px 0;

					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: calc(50% - 9px);
						display: block;
						height: 18px;
						width: 1px;
						background: #7C7C7C;
					}

					& input {
						border-radius: 0 7px 7px 0;
						border-bottom: 1px solid transparent;

						&:focus {
							border-radius: 0 7px 7px 7px;
							border-color: $red;
						}
					}
				}
			}

			&-car {
				display: flex;
				align-items: center;
				justify-content: space-between;
				grid-gap: 15px;
				margin-bottom: 15px;
				@media screen and (max-width: 768px) {
					flex-direction: column;
				}
			}

			&-params {
				display: flex;
				align-items: flex-end;
				grid-gap: 15px;
				margin-bottom: 15px;
				@media screen and (max-width: 768px) {
					flex-direction: column;
				}
				& .wrapper-color {
					display: flex;
					align-items: center;
					justify-content: space-between;
					@media screen and (max-width: 768px) {
						flex-wrap: wrap;
						grid-gap: 15px;
						width: 100%;
					}
					&-item {
						&:last-child,
						&:first-child {
							& input:checked + label span {
								border-color: #D9D9D9;
								background: #FFFFFF;
							}

							& span {
								width: 119px;
								text-align: center;
								padding: 2px;
								height: 29px;
								background: #D9D9D9;
								border-radius: 24px;
								border: 2px solid transparent;

								& svg {
									position: absolute;
									top: calc(50% - 6.5px);
									left: auto;
									right: 10px;
								}
							}
						}
						&:last-child {
							& span {
								width: 130px;
								text-align: center;
								padding: 2px;
								height: 29px;
								background: #D9D9D9;
								border-radius: 24px;
								border: 2px solid transparent;

							}
						}

						& input {
							display: none;

							&:checked + label svg {
								display: block;
							}
						}

						& label {
							display: inline-block;
							position: relative;
							cursor: pointer;

							& span {
								width: 29px;
								height: 29px;
								display: inline-block;
								border-radius: 15px;
								position: relative;
								border: 1px solid #f0f0f0;

								& svg {
									position: absolute;
									top: calc(50% - 6.5px);
									left: calc(50% - 8.5px);
									display: none;

									& path {
										stroke: transparent;
									}
								}
							}
						}
					}
				}
			}
			&-block {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				@media screen and (max-width: 768px) {
					flex-direction: column;
					grid-gap: 15px;
				}
				& .wrapper-input {
					&:last-of-type {
						flex: 0 1 100%;
						margin-top: 15px;
					}
				}
			}
		}

		& .main-btn {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 30px;
			@media screen and (max-width: 768px) {
				flex-wrap: wrap;
				grid-gap: 15px;
			}
			& .f1-3 {
				@media screen and (max-width: 768px) {
					&:first-of-type,
					&:nth-child(2) {
						flex: 0 1 calc(50% - 10px);
						& * {
							font-size: 14px;
						}
					}
					&:nth-child(2) {
						& * {
							font-size: 13px;
						}
					}
				}
			}
			& div {
				text-align: center;

				& button {
					cursor: pointer;
				}
			}

			&-toggle {
				& svg {
					transform: rotateX(180deg);
				}

				&.active svg {
					transform: rotateX(0);
				}
			}
		}
	}
	& .wrapper-select,
	& .wrapper-input {
		&.colum {
			flex-direction: column;
			align-items: flex-start;
			& > span {
				display: block;
				text-align: left;
				padding-left: 11px;
				padding-bottom: 8px;
				color: #646464;
			}
			& > div {
				display: flex;
				align-items: center;
				@media screen and (max-width: 768px) {
					width: 100%;
				}
			}
		}
	}
	& .main-inputs-dop {
		&.colum {
			flex-direction: column;
			align-items: flex-start;
			& > span {
				display: block;
				text-align: left;
				padding-left: 11px;
				padding-bottom: 8px;
				color: #646464;
			}
			& > div {
				margin-top: 6px;
				@media screen and (max-width: 768px) {
					display: flex;
					flex-wrap: wrap;
					& > div {
						flex: 0 1 calc(50% - 7.5px);
					}
				}
				@media screen and (max-width: 480px) {
					& > div {
						flex: 0 1 100%;
					}
				}
			}
			& .wrapper-input {
				margin-bottom: 12px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	& .f2-3 {
		flex: 0 1 calc(66.66666% - 5px);
		@media screen and (max-width: 768px) {
			flex: 0 1 100%;
			width: 100%;
		}
	}
	& .f1-3 {
		flex: 0 1 calc(33.33333% - 10px);
		@media screen and (max-width: 768px) {
			flex: 0 1 100%;
			width: 100%;
		}
	}
	& .f1-2 {
		flex: 0 1 calc(50% - 7.5px);
		@media screen and (max-width: 768px) {
			flex: 0 1 100%;
			width: 100%;
		}
	}
	& .f1-6 {
		flex: 0 1 calc(16.66667% - 12.5px);
		@media screen and (max-width: 768px) {
			flex: 0 1 100%;
			width: 100%;
		}
	}
	& .f1-4 {
		flex: 0 1 calc(25% - 11.25px);
	}
	& .f1-1 {
		flex: 0 1 100%;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}
.daterangepicker {
	@include use-font($I-r, 400);
}
.daterangepicker.show-calendar .drp-buttons {
	display: flex;
	align-items: center;
	& .cancelBtn {
		margin-left: 0;
	}
	& .applyBtn {
		background-color: $heavy_blue;
		color: $white3;
	}
}