
.first-block {
	width: 100%;
	height: 406px;
	@media screen and (max-width: 1024px) {
		height: 475px;
	}
	&-bg {
		display: flex;
		position: relative;
		@media screen and (max-width: 1024px) {
			flex-direction: column;
			height: 475px;
		}
	}
	&-l {
		position: absolute;
		left: 0;
		top: 0;
		width: 83%;
		height: 406px;
		background-image: url("../../img/2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left;
		clip-path: polygon(0 0, 82% 0%, 73.5% 100%, 0% 100%);
		z-index: -10;
		@media screen and (max-width: 1024px) {
			height: 352px;
			width: 100%;
			clip-path: polygon(0 0, 100% 0, 100% 62%, 0 100%);
		}
	}
	&-btn {
		position: absolute;
		width: 100%;
		height: 406px;
		top: 0;
		left: 0;
		z-index: 50;
		background-image: url("../../img/Union.svg");
		background-size: 7.5% 100%;
		background-repeat: no-repeat;
		background-position: 65.5% 0;
		@media screen and (max-width: 1024px) {
			height: 475px;
			background-size: 120% 31%;
			background-repeat: no-repeat;
			background-position: 50% 62%;
		}
	}
	&-r {
		position: absolute;
		right: 0;
		top: 0;
		width: 39.1%;
		height: 406px;
		background-image: url("../../img/1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right;
		clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0% 100%);
		@media screen and (max-width: 1024px) {
			height: 260px;
			width: 100%;
			clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
			top: auto;
			bottom: 0;
		}
	}
	&-content {
		position: relative;
		z-index: 100;
		margin: 0 auto;
		padding: 91px 15px 44px;
		width: 100%;
		max-width: 1270px;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 1024px) {
			flex-direction: column;
			height: 475px;
		}
		@media screen and (max-width: 768px) {
			padding: 66px 8px 44px;

		}
		&-l {
			flex: 0 1 640px;
			position: relative;
			z-index: 150;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			@media screen and (max-width: 1024px) {
				align-items: center;
			}
			& > h4.t-1 {
				color: $white3;
				margin-top: 32px;
				@media screen and (max-width: 1024px) {
					font-size: 20px;
					line-height: 28px;
				}
				@media screen and (max-width: 768px) {
					font-size: 16px;
					line-height: 20px;
				}
			}
			& > h2 {
				margin-top: 31px;
				font-family: sans-serif;
				font-style: italic;
				font-weight: 700;
				font-size: 57px;
				line-height: 69px;
				color: transparent;
				-webkit-text-stroke: 1px $blue;
				text-stroke: 1px $blue;
				text-transform: uppercase;
				@media screen and (max-width: 1024px) {
					font-size: 32px;
					line-height: 39px;
					letter-spacing: 0.1em;
					-webkit-text-stroke: 2px $blue;
					text-stroke: 2px $blue;
					margin-top: 0;
				}
				@media screen and (max-width: 425px) {
					font-size: 22px;
					line-height: 28px;
					-webkit-text-stroke: 1px $blue;
					text-stroke: 1px $blue;
				}
				& span {
					display: block;
					font-weight: 900;
					-webkit-text-fill-color: $blue;
					margin-left: 73px;
					font-style: normal;
					@media screen and (max-width: 1024px) {
						margin-left: 31px;
					}
				}
			}
			& > h3.t-3 {
				color: $white3;
				margin: 8px auto 24px 73px;
				@media screen and (max-width: 1024px) {
					font-size: 16px;
					line-height: 19px;
					margin: 8px 0 8px 0;
				}
				@media screen and (max-width: 425px) {
					font-size: 15px;
				}
			}
			& > a {
				display: inline-block;
				max-width: 229px;
				width: 100%;
				padding: 10px;
				height: 43px;
				background: $red;
				border-radius: 7px;
				color: $white3;
				text-align: center;
				&:hover {
					background-color: $burgundy;
				}
				@media screen and (max-width: 1024px) {
					max-width: 181px;
					height: 33px;
					padding: 5px;
				}
			}
		}
		&-r {
			flex: 0 1 229px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			position: relative;
			z-index: 150;
			& > * {
				text-align: right;
				color: $white3;
			}
			& > h3.t-3 {
				margin-bottom: 62px;
				@media screen and (max-width: 1024px) {
					margin-top: 31px;
					margin-bottom: 20px;
					font-size: 18px;
					line-height: 22px;
				}
			}
			& > h2 {
				font-family: sans-serif;
				font-style: italic;
				font-weight: 900;
				font-size: 48px;
				line-height: 59px;
				color: transparent;
				-webkit-text-stroke: 1px $white3;
				text-stroke: 1px $white3;
				text-transform: uppercase;
				@media screen and (max-width: 1024px) {
					font-size: 32px;
					line-height: 39px;
				}
			}
			& > p.t-3 {
				margin-top: 18px;
				@media screen and (max-width: 1024px) {
					margin-top: 12px;
					font-size: 16px;
					line-height: 19px;
				}
			}
			& > a.t-7 {
				margin-top: 17px;
				background: rgba(254, 254, 254, 0.2);
				border: 1px solid $white3;
				border-radius: 7px;
				padding: 7px;
				width: 100%;
				max-width: 229px;
				height: 43px;
				display: flex;
				align-items: center;
				grid-gap: 8px;
				justify-content: center;
				&:hover {
					background: rgba(254, 254, 254, 0.3);
				}
				@media screen and (max-width: 1024px) {
					margin-top: 16px;
					max-width: 181px;
					height: 33px;
					padding: 5px;
					font-size: 16px;
					line-height: 19px;
				}
			}
		}
	}

}