@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";
.block {
	&.category {
		& .block-cart {
			flex-wrap: wrap;
			grid-gap: 19px;
		}

		& .block-item {
			width: 100%;
			max-width: calc(25% - 14.25px);
			height: 97px;
			border-radius: 7px;
			@media screen and (max-width: 1024px) {
				height: auto;
			}
			@media screen and (max-width: 620px) {
				max-width: calc(33.33333% - 14.25px);
			}
			@media screen and (max-width: 480px) {
				max-width: calc(50% - 9.5px);
			}
			&.disable {
				opacity: .4;

				&:hover {
					background-color: #f0f0f0;
					border-bottom: 1px solid transparent;

					& a {
						color: #141414;
						cursor: auto;
						& svg {
							transform: scale(1) translate(0, 0);
							@media screen and (max-width: 768px) {
								transform: none;
							}
							& path {
								fill: #141414;
							}
						}
					}
				}
			}
			& a {
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				grid-gap: 10px;
				overflow: hidden;
				border-radius: 7px;
				color: $black_new;
				padding: 8px;
				@media screen and (max-width: 1024px) {
					flex-direction: column;
				}
				& .svg {
					flex: 0 1 80px;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 80px;
					height: 70px;
				}
				& svg {
					transition: all .2s linear;
					padding: 0 2px;
				}
			}

			&:hover {
				& a {
					color: $red;

					& svg {
						transform: scale(1.7) translate(-13px, 2px);
						@media screen and (max-width: 768px) {
							transform: none;
						}
						& path {
							fill: $dark_blue2;
						}
					}
				}
			}
		}
	}
}