.banner {
	&-link {
		border-radius: 16px;
		display: block;
		max-width: 237px;
		height: 237px;
		width: 100%;
		position: relative;
		@media screen and (max-width: 768px) {
			max-width: 100%;
			height: 400px;
		}
		@media screen and (max-width: 460px) {
			height: auto;
			max-height: 300px;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 16px;
			background-color: transparent;
			z-index: 1;
		}

		&:hover {
			&:before {
				background: rgba(0, 0, 0, 0.45);
			}
		}
	}

	& picture {
		height: 100%;
		max-height: 237px;
		display: block;
		@media screen and (max-width: 768px) {
			height: 400px;
			max-height: none;
		}
		@media screen and (max-width: 460px) {
			height: auto;
			max-height: 300px;
		}
	}

	&-img {
		border-radius: 16px;
		height: 100%;
		max-height: 237px;
		object-fit: cover;
		@media screen and (max-width: 768px) {
			height: 400px;
			max-height: none;
		}
		@media screen and (max-width: 460px) {
			height: auto;
			object-fit: cover;
			max-height: 300px;
		}
	}
}

.mini-blog {
	max-width: 237px;
	background: #EDEDED;
	border-radius: 16px;
	padding: 16px 20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	@media screen and (max-width: 768px) {
		max-width: 100%;
	}
	&-title {
		margin-bottom: 26px;
		color: $black_new;
	}
	&-list {
	}
	&-item {
		display: inline-flex;
		grid-gap: 13px;
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
		& > a {
			align-self: flex-start;
		}
		& img {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			object-fit: cover;
		}
		& .text {
			& h4 {
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				margin-bottom: 4px;
				color: $black_new;
				& > a {
					color: inherit;
				}
			}

			& p {
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
				margin-bottom: 4px;
				color: $black_new;
				& > a {
					color: inherit;
				}
			}

			& > a {
				color: $heavy_black-50;
				&:hover {
					color: $red;
				}
			}
		}
	}
	&-link {
		margin-top: 25px;
		text-align: right;
		& a {
			color: $black_new;
			display: inline-flex;
			align-items: center;
			grid-gap: 10px;
			& svg {
				width: 16.5px;
				height: 10px;
			}
			&:hover {
				color: $red;
				& path {
					fill: $red;
				}
			}
		}
	}
}