@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";

.block-form {
	& form {

	}

	&-city {
		display: flex;
		align-items: center;
		grid-gap: 15px;
		padding-left: 23px;
		margin-top: 12px;
		margin-bottom: 30px;

		& .radio-group {
			& input {
				display: none;

				&:checked + label {
					color: $black_new;
				}
			}

			& label {
				color: $heavy_blue;
				cursor: pointer;
			}
		}

		& .all-city {
			&-btn {
				color: $heavy_blue;
				cursor: pointer;
			}
		}
	}

	&-cars {
		display: flex;
		align-items: center;
		grid-gap: 22px;
		padding-left: 23px;

		& .radio-group {
			& input {
				display: none;

				&:checked + label {
					border-color: $black_new;
				}
			}

			& label {
				color: $black_new;
				padding-bottom: 6px;
				border-bottom: 2px solid transparent;
				cursor: pointer;
				display: inline-block;
			}
		}
	}

	&-main {
		background: $lite_grey;
		box-shadow: 0 4px 4px $grey;
		border-radius: 21px;
		padding: 32px 26px;

		& .main-inputs {

			& .wrapper-input {
				flex: 0 1 calc(33.3333% - 10px);
				display: flex;
				align-items: center;
				justify-content: space-between;

				& .radio {
					display: flex;
					align-items: center;
					width: 100%;
					padding: 2px;
					background: #D9D9D9;
					border-radius: 7px;
					&-group {
						width: 100%;
						& input {
							display: none;
							&:checked + span {
								background: #FFFFFF;
								&:hover {
									background: #FFFFFF;
								}
							}
						}
						& label {
							cursor: pointer;
							width: 100%;

							& span {
								width: 100%;
								padding: 9px 10px 8px;
								border-radius: 7px;
								display: inline-block;
								text-align: center;
								&:hover {
									background: #C6C6C6;
								}
							}
						}
					}
				}

				& label {
					width: 100%;
					display: flex;
					align-items: center;
				}

				& input {
					padding: 10px 11px 10px 11px;
					width: 100%;
					border: none;

					&::placeholder {
						@include use-font($I-r, 400);
						@include use-size(16px, 19px);
						color: #646464;
					}
				}

				&-left {
					background: #FFFFFF;
					max-width: 65%;
					border-radius: 7px 0 0 7px;

					& input {
						border-radius: 7px 0 0 7px;
						border: none;
						border-bottom: 1px solid transparent;

						&:focus {
							border-radius: 7px 0 7px 7px;
							border-color: $red;
						}
					}
				}

				&-right {
					background: #FFFFFF;
					max-width: 35%;
					position: relative;
					padding-left: 1px;
					border-radius: 0 7px 7px 0;

					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: calc(50% - 9px);
						display: block;
						height: 18px;
						width: 1px;
						background: #7C7C7C;
					}

					& input {
						border-radius: 0 7px 7px 0;
						border-bottom: 1px solid transparent;

						&:focus {
							border-radius: 0 7px 7px 7px;
							border-color: $red;
						}
					}
				}
			}

			&-car {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 15px;

				& .wrapper-select {
					flex: 0 1 calc(33.3333% - 10px);
				}
			}

			&-params {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				margin-bottom: 15px;

				& .wrapper-select {
					flex: 0 1 calc(33.3333% - 10px);
					display: flex;
					align-items: center;
					justify-content: space-between;

					& label {
						flex: 0 1 calc(50% - 7.5px);
					}
				}

				& .wrapper-input {
					&.colum {
						flex-direction: column;
						align-items: flex-start;

						& > span {
							display: block;
							text-align: left;
							padding-left: 11px;
							padding-bottom: 8px;
							color: #646464;
						}

						& > div {
							display: flex;
							align-items: center;
						}
					}
				}

				& .wrapper-color {
					flex: 0 1 calc(66.6666% - 10px);
					display: flex;
					align-items: center;
					justify-content: space-between;

					&-item {
						&:first-child {
							& input:checked + label span {
								border-color: #D9D9D9;
								background: #FFFFFF;
							}

							& span {
								width: 119px;
								text-align: center;
								padding: 2px;
								height: 29px;
								background: #D9D9D9;
								border-radius: 24px;
								border: 2px solid transparent;

								& svg {
									position: absolute;
									top: calc(50% - 6.5px);
									left: auto;
									right: 10px;
								}
							}
						}

						& #color-red_burgundy_orange_pink + label {
							width: 70px;
						}

						& #color-yellow_gold_beige + label {
							width: 70px;
						}

						& #color-grey_silver + label {
							width: 50px;
						}

						& #color-blue_dark-blue + label {
							width: 50px;
						}

						& input {
							display: none;

							&:checked + label svg {
								display: block;
							}
						}

						& label {
							display: inline-block;
							position: relative;
							cursor: pointer;

							& span {
								width: 29px;
								height: 29px;
								display: inline-block;
								border-radius: 15px;
								position: relative;
								border: 1px solid #f0f0f0;

								& svg {
									position: absolute;
									top: calc(50% - 6.5px);
									left: calc(50% - 8.5px);
									display: none;

									& path {
										stroke: transparent;
									}
								}
							}

							& .white {
								background: #FFFFFF;
								border: 1px solid #C6C6C6;
							}

							& .black {
								background: #000000;
							}

							& .brown {
								background: #8A5318;
							}

							& .purple {
								background: #702593;
							}

							& .green {
								background: #2F8311;
							}

							& .grey {
								background: #999999;
								z-index: 10;
							}

							& .silver {
								background: linear-gradient(270deg, #999999 -39.58%, #FFFFFF 110.42%);
								z-index: 5;
								left: 20px;
								position: absolute;
							}

							& .blue {
								background: #00AFE9;
								z-index: 10;
							}

							& .dark-blue {
								background: #015B90;
								z-index: 5;
								left: 20px;
								position: absolute;
							}

							& .yellow {
								background: #FFE24A;
								z-index: 10;
							}

							& .gold {
								background: linear-gradient(270deg, #E0CB61 22.77%, #FBEE96 65.07%, #F5E181 100%);
								z-index: 5;
								left: 20px;
								position: absolute;
							}

							& .beige {
								background: #F9E2AB;
								left: 40px;
								position: absolute;
							}

							& .red {
								background: #BF1616;
								z-index: 10;
							}

							& .burgundy {
								background: #FF993C;
								z-index: 5;
								left: 20px;
								position: absolute;
							}

							& .pink {
								background: #FC6AC1;
								left: 40px;
								position: absolute;
							}
						}
					}
				}
			}

			&-dop {
				flex: 0 1 calc(33.3333% - 5px);
			}

			&-block {
				flex: 0 1 calc(66.6666% - 5px);
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;

				& .wrapper-input {
					flex: 0 1 calc(50% - 7.5px);

					&:last-of-type {
						flex: 0 1 100%;
						margin-top: 15px;
					}
				}
			}
		}

		& .main-btn {
			display: flex;
			align-items: center;
			justify-content: space-between;

			& div {
				flex: 0 1 calc(33.3333% - 10px);
				text-align: center;

				& button {
					cursor: pointer;
				}
			}

			& [type="button"] {
				& svg {
					transform: rotateX(180deg);
				}

				&.active {
					transform: rotateX(0);
				}
			}
		}
	}
}