.tippy-box[data-theme~="my"] {
	border: 1px solid #015B90;
	box-sizing: border-box;
	position: relative;
	background: #015B90;
	box-shadow: 0 1px 6px rgba(17, 17, 17, 0.25);
	border-radius: 7px;
}
.tippy-popper {
	filter: drop-shadow(3px 3px 4px rgba(23, 17, 50, 0.25));
}
.tippy-tooltip[data-placement^=left]>.tippy-arrow {
	border-left-color: #015B90;
	border-width: 16px 0 16px 16px;
	right: -16px;
}
.tippy-tooltip {
	background: #015B90;
	box-shadow: 0 1px 6px rgba(17, 17, 17, 0.25);
}
.tippy-tooltip[data-placement^=top]>.tippy-arrow {
	border-top-color: #015B90;
}
.tippy-content {
	font-family: $I-r;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #FEFEFE;
	padding: 10px;
}