@import "./_header-rtl";
@import "./_lk-header-rtl";
@import "./_popup-rtl";
@import "./_select2-rtl";
@import "./_pagination-rtl";
@import "./_bread-dot-rtl";

html {
	direction: rtl;
}

.main-title-right {
	margin-left: 0;
	margin-right: auto;
}

.advert-item-btn .btn-action-drop ul li a,
.advert-item-btn .btn-action-drop ul li button {
	text-align: right;
	padding: 6px 21px 6px 0;
}

.advert-mob-item-btn .mob-btn-action-drop ul li a,
.advert-mob-item-btn .mob-btn-action-drop ul li button {
	text-align: right;
	padding: 6px 21px 6px 0;
}

.advert-mob-item-btn .mob-btn-action-drop {
	right: auto;
	left: 0;
}

.advert-item-text-price {
	direction: ltr;
	text-align: right;
}

.advert-item-btn .days {
	right: auto;
	left: 0;
}