@import "./_header-rtl";
@import "./_lk-header-rtl";
@import "./_popup-rtl";
@import "./_select2-rtl";
@import "./_bread-dot-rtl";

html {
	direction: rtl;
}
.inp label svg,
.inp .inp-icon-info,
.inp-icon-info {
	right: auto;
	left: 6px;
}
.inp label>span:first-child {
	padding-right: 0;
	padding-left: 30px;
}
.daterangepicker {
	direction: rtl;
	text-align: right;
}
.daterangepicker .calendar-table .next span {
	transform: rotate(135deg);
}
.check-box label {
	padding-left: 0;
	padding-right: 35px;
}
.check-box label:after {
	left: auto;
	right: 0;
}
.check-box label:before {
	left: auto;
	right: 5px;
}