@import "./_header-rtl";
@import "./_lk-header-rtl";
@import "./_popup-rtl";
@import "./_select2-rtl";
@import "./_bread-dot-rtl";
@import "./_pagination-rtl";

html {
	direction: rtl;
}
.post-item-footer-date,
.main-title-right {
	margin-left: 0;
	margin-right: auto;
}