@import "./_header-rtl";

html {
	direction: rtl;
}

.block.slider .block-item.image .price {
	right: 8px;
	width: max-content;
	direction: ltr;
}

.block.category .block-item:hover a svg {
	transform: scale(1.7) translate(4px, 0px);
	@media screen and (max-width: 768px) {
		transform: none;
	}
}

.first-block-r {
	right: auto;
	left: 0;
	transform: rotateY(180deg);
}

.first-block-l {
	left: auto;
	right: 0;
	transform: rotateY(180deg);
}

.first-block-btn {
	left: auto;
	right: 0;
	transform: rotateY(180deg);
}

.first-block-content-l > h3.t-3 {
	color: #fefefe;
	margin: 8px 73px 24px auto;
}