@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";
@import "./_big-slider";
@import "./_page-home-first-block";
@import "./_bread-dots";
@import "./_page-home-side-bar";
@import "./_seo-text";
@import "./_rating";
@import "./_popUp-lk";
@import "../default/_my__pagination";

.pagination {
	margin: 0;
}

.bg-site {
	padding-bottom: 60px;
}
.product {
	&-container {
		display: grid;
		grid-gap: 10px 50px;
		grid-template-columns: calc(75% - 169px) calc(25% - 169px) calc(238px);
		@media screen and (max-width: 1024px) {
			grid-template-columns: calc(81.2% - 144px) calc(15% - 144px) calc(238px);
			grid-gap: 10px 25px;
		}
		@media screen and (max-width: 768px) {
			grid-template-columns: 100%;
			grid-gap: 25px;
		}
	}
	&-slider {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	&-description {
		grid-column: 2/4;
		grid-row: 1/2;
		@media screen and (max-width: 768px) {
			grid-column: 1/2;
			grid-row: 2/3;
		}
	}
	&-parameters {
		grid-column: 1/2;
		grid-row: 2/3;
		@media screen and (max-width: 768px) {
			grid-row: 3/4;
		}
	}
	&-insurance {
		grid-column: 2/4;
		grid-row: 2/3;
		@media screen and (max-width: 768px) {
			grid-column: 1/2;
			grid-row: 4/5;
		}
	}
	&-info {
		grid-column: 1/3;
		grid-row: 3/4;
		@media screen and (max-width: 768px) {
			grid-column: 1/2;
			grid-row: 5/6;
		}
	}
	&-comment {
		grid-column: 1/3;
		grid-row: 4/5;
		@media screen and (max-width: 768px) {
			grid-column: 1/2;
			grid-row: 6/7;
		}
	}
	&-details {
		grid-column: 1/3;
		grid-row: 5/6;
		@media screen and (max-width: 768px) {
			grid-column: 1/2;
			grid-row: 7/8;
		}
		&.second {
			grid-column: 1/3;
			grid-row: 6/7;
			@media screen and (max-width: 768px) {
				grid-column: 1/2;
				grid-row: 8/9;
			}
		}
		&.third {
			grid-column: 1/3;
			grid-row: 7/8;
			@media screen and (max-width: 768px) {
				grid-column: 1/2;
				grid-row: 9/10;
			}
		}
	}
}
.block-side-bar {
	grid-row: 3/8;
	grid-column: 3/4;
	@media screen and (max-width: 768px) {
		grid-column: 1/2;
		grid-row: 10/11;
	}
}
.product {
	margin-top: 25px;
	&-container {
	}
	&-title {
		text-align: center;
		margin-bottom: 35px;
		color: #141414;
	}
	&-slider {
		.product-for .product-for-item:nth-child(1) ~ .product-for-item {
			display: none;
		}
		.product-for.slick-initialized .product-for-item {
			display: block;
		}
		.product-nav .product-for-item:nth-child(5) ~ .product-nav-item {
			display: none;
		}
		.product-nav.slick-initialized .product-nav-item {
			display: block;
		}
		& .product-for {
			max-height: 435px;
			margin-bottom: 15px;
			& .slick-slide {
				margin: 0 7.5px;
			}
			& picture {
				display: block;
			}
			& img {
				display: block;
				width: 100%;
				height: 435px;
				object-fit: cover;
				@media screen and (max-width: 768px) {
					height: 300px;
				}
				@media screen and (max-width: 425px) {
					height: 250px;
				}
			}
		}
		& .product-nav {
			max-height: 75px;
			display: flex;
			justify-content: space-between;
			& .slick-slide {
				border: 1px solid transparent;
				height: 74px;
				margin: 0 7.5px;
			}
			& .slick-current {
				border: 1px solid $heavy_blue;
				height: 74px;
				& div {
					height: 74px;
				}
			}
			& picture {
				display: block;
			}
			& img {
				display: block;
				width: 100%;
				height: 72px;
				object-fit: cover;
			}
		}
	}
	&-description {
		position: relative;
		&-favorite {
			position: absolute;
			top: 0;
			right: 0;
			&.liked {
				& path {
					fill: #FFCF00;
				}
			}
		}
		&-name {
			margin-bottom: 25px;
			color: #141414;
		}
		&-price {
			margin-bottom: 4px;
			color: #141414;
		}
		&-contact {
			margin-top: 59px;
			margin-bottom: 13px;
			@media screen and (max-width: 768px) {
				margin-top: 30px;
			}
		}
		&-messages {
			margin-bottom: 15px;
		}
		&-salesman {
			margin-bottom: 32px;
			display: flex;
			grid-gap: 13px;
			& img {
				width: 33px;
				height: 33px;
				border-radius: 50%;
				object-fit: cover;
			}
			& h4 {
				color: #015B90;
			}
			& p {
				color: #141414;
			}
		}
		&-date {
			margin-bottom: 32px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			& p {
				color: #666666;
			}
			& p:last-child {
				display: flex;
				align-items: center;
				grid-gap: 10px;
			}
		}
		&-action {
			display: inline-flex;
			flex-direction: column;
			& .action-share {
				display: inline-flex;
				align-items: center;
				grid-gap: 15px;
				margin-bottom: 17px;
				color: #015B90;
				cursor: pointer;
			}
			& .action-complain {
				display: inline-flex;
				align-items: center;
				grid-gap: 15px;
				color: #015B90;
				cursor: pointer;
			}
		}
	}
	&-parameters {
		& .params-list {
			display: flex;
			flex-wrap: wrap;
			grid-gap: 10px 25px;
			margin-bottom: 30px;
		}
		& .params-item {
			flex: 0 1 calc(50% - 12.5px);
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			grid-gap: 15px;
			@media screen and (max-width: 768px) {
				flex: 0 1 100%;
			}
			&-name {
				flex: 0 1 calc(50% - 7.5px);
				color: #666666;
			}
			&-value {
				flex: 0 1 calc(50% - 7.5px);
				color: #141414;
			}
		}
	}
	&-insurance {
		& p {
			color: #666666;
			margin-bottom: 7px;
		}
		&-box {
			background: #F0F0F0;
			border-radius: 10px;
			height: 163px;
			display: flex;
			align-items: center;
			justify-content: center;
			& picture {
				display: block;
				width: 100%;
			}
			& img {
				display: block;
				height: 163px;
				width: 100%;
				border-radius: 10px;
				object-fit: cover;
			}
		 }
	}
	&-info {
		&-text {
			margin-bottom: 15px;
			max-height: 209px;
			overflow: hidden;
			&.open {
				max-height: 100%;
				& + .product-info-open  svg{
					transform: rotateX(180deg);
				}
			}
			& p {
				@include use-font($I-r, 400);
				@include use-size(16px, 19px);
				color: #141414;
			}
		}
		&-open {
			cursor: pointer;
			color: #015B90;
		}
	}
	&-comment {
		&-rating {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 30px;
			@media screen and (max-width: 1024px) {
				flex-direction: column;
				align-items: flex-start;
			}
			@media screen and (max-width: 580px) {
			}

			&-box {
				display: flex;
				align-items: center;
				grid-gap: 15px;
				@media screen and (max-width: 480px) {
					flex-wrap: wrap;
				}
				& p {
					color: #141414;
					&:first-of-type {
						@media screen and (max-width: 480px) {
							flex: 0 1 100%;
						}
					}
				}
				& .rating-result {
					@media screen and (max-width: 480px) {
						margin: 0;
					}
				}
			}
			&-select {
				max-width: 265px;
				width: 100%;
				@media screen and (max-width: 1024px) {
					align-self: flex-end;
				}
				& .select2-container--search.select2-container--open .select2-selection--single {
					box-shadow: 0 0 4px #c1c4cd;
				}
				& .select2-container--search .select2-selection--single .select2-selection__rendered {
					font-size: 14px;
					line-height: 17px;
					max-width: 100%;
					padding-left: 0;
				}
				@media screen and (max-width: 580px) {
					max-width: 100%;
				}
			}
		}
		&-tabs {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media screen and (max-width: 1024px) {
				flex-direction: column;
				align-items: flex-start;
				grid-gap: 20px;
			}
			@media screen and (max-width: 768px) {
				overflow: auto;
				&::-webkit-scrollbar {
					border-radius: 3px;
					width: 7px;
					height: 8px;
					background-color: #cbe7f4;
				}
				&::-webkit-scrollbar-thumb {
					border-radius: 3px;
					height: 8px;
					background-color: #015b90;
				}
			}
			& .tabs-list {
				display: flex;
				align-items: center;
				grid-gap: 20px;
				@media screen and (max-width: 768px) {
					grid-gap: 12px;
					margin-bottom: 10px;
				}
				@media screen and (max-width: 520px) {

				}
			}
			& .tabs-item {
				padding-bottom: 15px;
				border-bottom: 1px solid transparent;
				cursor: pointer;
				color: #141414;
				white-space: nowrap;
				@media screen and (max-width: 580px) {
					min-width: max-content;
				}
				&:hover {
					border-color: #141414;
				}
				&.active {
					border-color: #141414;
					cursor: auto;
				}
			}

		}

		&-content {
			padding-top: 40px;
			position: relative;
			display: none;
			&.active {
				display: block;
			}
			& .btn-comment {
				position: absolute;
				right: 0;
				top: -46px;
				max-width: 180px;
				width: 100%;
				@media screen and (max-width: 1024px) {
					position: static;
					margin-bottom: 20px;
				}
				& .btn {
					max-width: 180px;
				}

			}
			& .comment-content{
				&-item {
					display: flex;
					grid-gap: 13px;
					margin-bottom: 20px;
				}
				&-avatar {
					& picture {
					}
					& img {
						width: 33px;
						height: 33px;
						object-fit: cover;
						border-radius: 50%;
					}
				}
				&-wrapper {
					width: calc(100% - 46px);
				}
				&-first {
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;
					@media screen and (max-width: 480px) {
						flex-direction: column-reverse;
					}
					& .rating-result {
						margin: 0;
						align-self: flex-end;
					}
				}
				&-name {
					& h2 {
						color: #141414;
					}
					& p {
						color: #666666;
					}
				}

				&-photo {
					margin-bottom: 22px;
					display: flex;
					align-items: center;
					grid-gap: 15px;
					overflow: hidden;

					& .slick-slide {
						& > div {
							height: 60px;
						}
					}
					& picture {
						display: block;
						width: 100%;
						height: 60px;
					}
					& img {
						width: 99px;
						height: 60px;
						border-radius: 6px;
						object-fit: cover;
					}
					& .nextArrow {
						position: absolute;
						top: 0;
						right: 0;
						z-index: 10;
						&.slick-disabled:before {
							display: none;
						}
					}
					& .prevArrow {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 10;
						&.slick-disabled:before {
							display: none;
						}
					}
					& .prevArrow:before,
					& .nextArrow:before {
					//	content: '';
						width: 50px;
						height: 60px;
					//	display: flex;
					//	align-items: center;
					//	justify-content: center;
						border-radius: 6px;
						background-color: rgba(0, 0, 0, 0.45);
					//	//transform: rotateY(180deg);
					//	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
					}
				}
				&-advantages {
					& p {
						color: #141414;
						position: relative;
						padding-left: 25px;
						margin-bottom: 11px;
						&:before {
							content: '';
							background-repeat: no-repeat;
							display: block;
							width: 16px;
							height: 16px;
							position: absolute;
							left: 0;
							top: 0;
						}
					}
					& .true {
						&:before {
							background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='8' fill='%2387C042'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.84602 2.00625C7.64195 2.0552 7.57276 2.07924 7.46814 2.13748C7.2342 2.26777 7.05925 2.48275 6.9655 2.75514C6.91982 2.88787 6.91841 2.95151 6.91841 4.89541V6.89887L5.01036 6.89934C3.86518 6.89962 3.03658 6.9092 2.93793 6.92328C2.51327 6.98399 2.14749 7.30112 2.032 7.70877C1.98961 7.8584 1.98928 8.14421 2.03134 8.29565C2.12504 8.63304 2.38599 8.90993 2.73583 9.04315C2.86602 9.09276 2.88981 9.09339 4.89295 9.10029L6.91841 9.10727V11.1099C6.91841 13.0075 6.92072 13.1192 6.96249 13.2405C7.03238 13.4436 7.09301 13.546 7.21929 13.6743C7.43454 13.8928 7.69091 14 7.99866 14C8.49274 14 8.8767 13.7139 9.05054 13.2161C9.08377 13.1209 9.08922 12.87 9.09643 11.1077L9.1046 9.10729L11.1172 9.10029C13.1072 9.09337 13.1313 9.09273 13.2615 9.04315C13.517 8.94587 13.7291 8.77133 13.857 8.55327C14.0492 8.22539 14.0475 7.7964 13.8528 7.448C13.7079 7.18895 13.3753 6.96584 13.0677 6.92138C12.9857 6.90953 12.0599 6.8996 11.0104 6.89934L9.1024 6.89887L9.10167 5.01497C9.10125 3.93656 9.0912 3.0559 9.07811 2.95527C9.02368 2.53578 8.72201 2.16929 8.33284 2.04977C8.2146 2.01348 7.92417 1.98752 7.84602 2.00625Z' fill='%23FEFEFE'/%3e%3c/svg%3e ");
						}
					}
					& .false {
						&:before {
							background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='8' fill='%23BF1616'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.01645 7.01918C2.5338 7.11165 2.15736 7.54888 2.03396 8.16038C1.88298 8.9087 2.24941 9.70525 2.85466 9.94442C2.98926 9.99761 3.21031 10 8 10C12.7897 10 13.0107 9.99761 13.1453 9.94442C13.7506 9.70525 14.117 8.9087 13.966 8.16038C13.8604 7.63675 13.5668 7.23746 13.1571 7.06018C13.0335 7.00674 12.8212 7.00423 8.08204 7.00036C5.3617 6.99812 3.08218 7.00659 3.01645 7.01918Z' fill='%23FEFEFE'/%3e%3c/svg%3e");
						}
					}
				}
				&-text {
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					overflow: hidden;
					color: #141414;
					margin-bottom: 11px;
				}
				&-btn {
					color: #666666;
					cursor: pointer;
				}
			}
		}
	}
	&-details {
		margin-top: 55px;
		&.third {
			& .product-details-list {
				flex-wrap: wrap;
			}
		}
		& .comment-see-all {
			margin-top: 20px;

		}
		&-list {
			display: flex;
			justify-content: space-between;
			grid-gap: 10px;
			@media screen and (max-width: 520px) {
				flex-wrap: wrap;
			}
		}
		&-item {
			flex: 0 1 calc(25% - 12.75px);
			@media screen and (max-width: 520px) {
				flex: 0 1 calc(50% - 7.5px);
			}
			&:hover {
				& .info h3 {
					color: $red;
				}
			}
			& .image {
				& img {
					width: 100%;
					height: 172px;
					object-fit: cover;
					border-radius: 6px;
				}
			}
			& .info {
				color: #141414;
				& h3 {
					display: -webkit-box;
					-webkit-box-orient: vertical;
					overflow: hidden;
					-webkit-line-clamp: 1;
					margin-bottom: 4px;
				}
			}
		}
	}
}
.comment-see-all a {
	//display: block;
	//background: #dee7ed;
	//color: #141414;
	//border-radius: 10px;
	//padding: 11px;
	//text-align: center;
}
.banner-big {
	margin: 60px 0 30px;
}
.price {
	border-radius: 5px;
	padding: 3px 9px;
	display: inline-block;
	max-width: 145px;
	white-space: nowrap;
	border: 1px solid transparent;

	&.normal {
		border-color: $light_green;
		color: $light_green;
	}

	&.good {
		background: $light_green;
		color: $white3;
	}

	&.expensive {
		background: $light_blue;
		color: #93A5B0;
	}

	&.withdrawn {
		background: transparent;
		color: $red;
	}

	&.no-rating {
		background: #F7F8F8;
		color: #A8A8A7;
	}

	&.great {
		background: #8FDDE2;
		color: $white3;
	}

	&.minimal {
		background-color: transparent;
		color: $red;
	}
}
.block-side-bar-sticky {
	margin-top: 76px;
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
}
.file {
	&-label {
		@include use-font($I-m, 500);
		@include use-size(18px, 22px);
		color: $black_new;
		margin-bottom: 13px;
	}
	&-dop-text {
		display: inline-block;
		@include use-font($I-r, 400);
		@include use-size(12px, 15px);
		color: $black_new;
		margin-bottom: 8px;
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 10px;
		justify-content: space-between;
		@media screen and (max-width: 768px) {
			grid-gap: 15px;
		}
	}

	&-item {
		position: relative;
		flex: 0 1 calc(20% - 12.5px);
		@media screen and (max-width: 768px) {
			flex: 0 1 calc(33.33333% - 12.5px);
		}
		& .img {
			width: 100%;
			height: 120px;
			object-fit: cover;
			border-radius: 7px;
			display: none;
			@media screen and (max-width: 768px) {
				width: 100%;
			}
			&.active {
				display: block;
			}
		}
	}
	&-inp {
		display: none;
	}
	&-field {
		width: 100%;
		height: 120px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: #C6C6C6;
		border: 1px solid #C6C6C6;
		border-radius: 7px;
		cursor: pointer;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
		&.none {
			display: none;
		}
		& span {
			@include use-font($I-r, 400);
			@include use-size(12px, 15px);
			color: #141414;
			display: block;
			text-align: center;
		}
	}
	&-delete {
		display: none;
		position: absolute;
		left:0;
		bottom:0;
		right:0;
		top:0;
		z-index: 10;
		background: linear-gradient(0deg, rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4));
		border-radius: 7px;
		width: 100%;
		height: 120px;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
		& button {
			width: 28px;
			height: 28px;
			background: transparent;
			border-radius: 7px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
	}
}
.file-item.active:hover .file-delete {
	display: flex;
}