@import "../default/_my__font";
@import "../default/_my__color";
@import "../default/mixins";
@import "./_page-home-side-bar";
@import "./_page-home-slider";

.block {
	max-width: 909px;

	&-flex {
		display: flex;
		grid-gap: 15px;
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
	}

	&-main {
		flex: 0 1 max(909px);
		display: flex;
		flex-direction: column;
		grid-gap: 50px;
	}

	&-side-bar {
		flex: 0 1 max(216px);
		display: flex;
		flex-direction: column;
		grid-gap: 15px;
		@media screen and (max-width: 768px) {
			flex: 0 1 100%;
		}
	}
	&.slider {
		max-width: none;
		margin-bottom: 52px;
		& .block-item.image {
			position: relative;
			& .price {
				position: absolute;
				bottom: 8px;
				left: 8px;
				background: #BF1616;
				border-radius: 7px;
				padding: 2px 10px;
				color: $white;
			}
		}
		& .block-cart {
			grid-gap: 18px;
		}

		& .image {
			max-height: 215px;
			height: 215px;

			& picture {
				max-height: 215px;
			}

			& img {
				max-height: 215px;
			}
		}

		& .info {
			padding: 8px 11px 11px;

			& h3 {
				-webkit-line-clamp: 1;
			}
		}
	}
	&.blog {
		& .block-cart {
			grid-gap: 15px;
			flex-wrap: wrap;
		}

		& .block-item {
			flex: 0 1 calc(25% - 11.25px);

			&:hover {
				background: rgba(240, 240, 240, 0.25);
			}
		}

		& .image {
			max-height: 143px;
			@media screen and (max-width: 768px) {
				height: 143px;
			}
			@media screen and (max-width: 420px) {
				max-height: 180px;
				height: 180px;
			}

			& picture {
				max-height: 143px;
				@media screen and (max-width: 420px) {
					max-height: 180px;
				}
			}

			& img {
				max-height: 143px;
				@media screen and (max-width: 420px) {
					max-height: 180px;
				}
			}
		}

		& .info {
			padding: 8px;

			& h3 {
				-webkit-line-clamp: 1;
			}

			& p {
				-webkit-line-clamp: 3;
			}
		}
	}

	&.comment {
		& .block-cart {
			grid-gap: 18px;
		}

		& .image {
			max-height: 246px;
			height: 246px;

			& picture {
				max-height: 246px;
			}

			& img {
				max-height: 246px;
			}
		}

		& .info {
			padding: 6px 11px 9px;

			& h3 {
				-webkit-line-clamp: 1;
			}
		}
	}

	&.detail,
	&.details {
		& .block-cart {
			grid-gap: 25px;
		}

		& .image {
			max-height: 198px;

			& picture {
				max-height: 198px;
			}

			& img {
				max-height: 198px;
			}
		}

		& .info {
			padding: 5px 15px 6px;

			& h3 {
				-webkit-line-clamp: 1;
			}
		}
	}

	&-title {
		text-align: center;
	}

	&-cart {
		display: flex;
		margin-top: 43px;
	}

	&-item {
		background: #F0F0F0;
		display: inline-flex;
		flex-direction: column;
		width: 100%;
		border-radius: 10px;
		border-bottom: 1px solid transparent;

		&:hover {
			background: rgba(240, 240, 240, 0.25);
			border-bottom: 1px solid #BF1616;

			& .image {
				border-bottom: 1px solid transparent;

				&:before {
					background: rgba(0, 0, 0, 0.45);
				}
			}

			& .info {
				background: rgba(240, 240, 240, 0.25);
				border-bottom: 1px solid transparent;
			}

			& h3 {
				color: #BF1616;
			}
		}

		&.image {
			height: 100%;
			background-color: transparent;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 10px 10px 0 0;
				background-color: transparent;
			}

			& picture {
				height: 100%;
				width: 100%;
				display: block;
			}

			& img {
				height: 100%;
				object-fit: cover;
				border-radius: 10px 10px 0 0;
			}
		}

		&.info {
			width: 100%;
			border-radius: 0 0 10px 10px;
			background-color: transparent;

			& h3 {
				margin-bottom: 6px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			& p {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
	}

	&-link {
		margin-top: 25px;

		& a {
			display: block;
			background: #F0F0F0;
			color: #000000;
			border-radius: 10px;
			padding: 11px;
			text-align: center;

			&:hover {
				background: #646464;
				color: #FFFFFF;
			}
		}
	}
}

.follow {
	background: #F0F0F0;
	border-radius: 7px;
	padding: 30px 42px 13px 49px;
	width: 79.737%;
	margin-top: 50px;
	@media screen and (max-width: 768px) {
		width: 100%;
		padding: 16px 20px;
	}

	&-title {
		margin-bottom: 25px;
	}

	&-text {
		margin-bottom: 25px;
	}

	&-form {
		margin-bottom: 17px;
		display: flex;
		align-items: flex-start;
		grid-gap: 16px;
		@media screen and (max-width: 580px) {
			flex-direction: column;
		}

		& .btn {
			max-width: 247px;
			@media screen and (max-width: 580px) {
				max-width: 100%;
			}
		}
	}

	&-text-info {
		text-align: center;
		color: $dark_grey;
	}
}