@import "./_header-rtl";
@import "./_bread-dot-rtl";
@import "./_popup-rtl";
@import "./_select2-rtl";
@import "./_pagination-rtl";

html {
	direction: rtl;
}
.first-block-r {
	right: auto;
	left: 0;
	transform: rotateY(180deg);
}

.first-block-l {
	left: auto;
	right: 0;
	transform: rotateY(180deg);
}

.first-block-btn {
	left: auto;
	right: 0;
	transform: rotateY(180deg);
}
.first-block-content-l > h3.t-3 {
	color: #fefefe;
	margin: 8px 73px 24px auto;
}
.advert-item-btn .days p {
	text-align: left;
}
.adverts-filter-select,
.advert-item-favorite {
	margin-left: 0;
	margin-right: auto;
}
.adverts-filter-link {
	margin-left: 0;
	margin-right: 20px;
}
.advert-mob-item-info-favorite {
	right: auto;
	left: 0;
}
.advert-mob-item-info-name,
.advert-mob-item-info-duration {
	padding-right: 0;
	padding-left: 40px;
}